<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="padding-bottom: 1.5rem;
    background-color: #f4f4f4;">
      <div
        
      >
        <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #f4f4f4; ">
          <tbody>
            <tr>
              <td align="center" valign="middle">
                <table
                  style="
                    background-color: white;
                    border-radius: 1rem;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    font-family: Arial, sans-serif;
                    margin: 0;
                    padding: 0;
                  "
                >
                  <tbody>
                    <tr>
                      &nbsp;
                    </tr>
                    <tr>
                      <td width="10"></td>
                      <td style="width: 600px; padding-bottom: 1rem">
                        <p style="font-size: 1.5em; font-weight: bold">
                          Solicitare de resetare a parolei
                        </p>
                        <p>
                          Buna ziua
                          <span style="font-weight: 600">{{user_name}},</span>
                        </p>
                        <p>
                          Am primit o solicitare de resetare a parolei. Faceți clic pe butonul de mai jos pentru a-l reseta:
                        </p>
                        <table style="width: 100%; margin: 1.5rem 0;">
                          <tbody>
                            <tr >
                              <td>
                                <a
                                  href="{{reset_link}}"
                                  style="
                                    background-color: #007bff;
                                    padding: 12px 20px;
                                    color: #ffffff;
                                    border: none;
                                    font-size: 16px;
                                    border-radius: 5px;
                                    text-decoration: none;
                                  "
                                  >Resetează parola</a
                                >
                              </td>
                            </tr>
                            
                          </tbody>
                        </table>
                        
                              <p>
                                Dacă nu ați solicitat acest lucru, vă rugăm să ignorați acest e-mail. Parola dvs. va rămâne neschimbată.
                              </p>
                              <p style=" font-size: 0.8rem; line-height: 1.5;">
                                Salutări,<br /><span style=" font-weight: bold"
                                  >Echipa de închirieri auto</span
                                >
                              </p>
                            
                      </td>

                      <td></td>
                    </tr>
                    <tr>
                      &nbsp;
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
