<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body style="background-color: #f9f9f9">
    <div style="padding-bottom: 1.5rem; background-color: #f4f4f4">
        <div>
            <table role="presentation"
                   width="100%"
                   cellspacing="0"
                   cellpadding="0"
                   border="0"
                   style="background-color: #f4f4f4">
                <tbody>
                    <tr>
                        <td align="center" valign="middle">
                            <table style="
                    background-color: white;
                    border-radius: 1rem;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    font-family: Arial, sans-serif;
                    margin: 0;
                    padding: 0;
                  ">
                                <tbody>
                                    <tr>
                                        &nbsp;
                                    </tr>
                                    <tr>
                                        <td width="10"></td>
                                        <td style="width: 600px; padding-bottom: 1rem">
                                            <p style="font-size: 1.5em; font-weight: bold">
                                                Confirmarea solicitării
                                            </p>
                                            <p>
                                                Bună ziua
                                                <span style="font-weight: 600">{{customer_name}},</span>
                                            </p>
                                            <p>Am primit solicitarea ta pentru următoara mașină:</p>
                                            <table style="
                            background-color: #f9f9f9;
                            border-left: 4px solid #007bff;
                            padding: 10px;
                            margin: 15px 0;
                            width: 100%;
                          ">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <p>
                                                                <span style="font-weight: bold">Nume și prenume:</span>
                                                                {{full_name}}
                                                            </p>
                                                            <p>
                                                                <span style="font-weight: bold">Număr de telefon:</span>
                                                                {{phone_num}}
                                                            </p>
                                                            <p>
                                                                <span style="font-weight: bold">Locație de ridicare:</span>
                                                                {{location}}
                                                            </p>
                                                            <p>
                                                                <span style="font-weight: bold">Număr inmatriculare mașină avariată:</span>
                                                                {{liscence_plate}}
                                                            </p>
                                                            <p>
                                                                <span style="font-weight: bold">Model mașină avariată:</span>
                                                                {{car_model}}
                                                            </p>
                                                            <p>
                                                                <span style="font-weight: bold">Asiguratorul vinovatului:</span>
                                                                {{car_insuarance}}
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p style="font-size: 15px;padding-top: 5px;">Reprezentantul nostru te va contacta în cel mai scurt timp pentru această solicitare.</p>
                                            <p style="font-size: 0.8rem; line-height: 1.5">
                                                Mulțumim,<br /><span style="font-weight: bold">Echipa Inlocuire mașină de la Klass Wagen</span>
                                            </p>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        &nbsp;
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
