<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body style="background-color: #f9f9f9">
    <div style="padding-bottom: 1.5rem; background-color: #f4f4f4">
        <div>
            <table role="presentation"
                   width="100%"
                   cellspacing="0"
                   cellpadding="0"
                   border="0"
                   style="background-color: #f4f4f4">
                <tbody>
                    <tr>
                        <td align="center" valign="middle">
                            <table style="
                    background-color: white;
                    border-radius: 1rem;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    font-family: Arial, sans-serif;
                    margin: 0;
                    padding: 0;
                  ">
                                <tbody>
                                    <tr>
                                        &nbsp;
                                    </tr>
                                    <tr>
                                        <td width="10"></td>
                                        <td style="width: 600px; padding-bottom: 1rem">
                                            <p style="font-size: 1.5em; font-weight: bold">
                                                New car replacement request
                                            </p>
                                            <p>Customer's Details:</p>
                                            <table style="
                            background-color: #f9f9f9;
                            border-left: 4px solid #007bff;
                            padding: 10px;
                            margin: 15px 0;
                            width: 100%;
                          ">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <p>
                                                                <span style="font-weight: bold">Full Name:</span>
                                                                {{full_name}}
                                                            </p>
                                                            <p>
                                                                <span style="font-weight: bold">Phone Number:</span>
                                                                {{phone_num}}
                                                            </p>
                                                            <p>
                                                                <span style="font-weight: bold">Pickup Location:</span>
                                                                {{location}}
                                                            </p>
                                                            <p>
                                                                <span style="font-weight: bold">Licence plate number of damaged car:</span>
                                                                {{liscence_plate}}
                                                            </p>
                                                            <p>
                                                                <span style="font-weight: bold">Damaged car model:</span>
                                                                {{car_model}}
                                                            </p>
                                                            <p>
                                                                <span style="font-weight: bold">Culp guilty insurer:</span>
                                                                {{car_insuarance}}
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </td>

                                        <td></td>
                                    </tr>
                                    <tr>
                                        &nbsp;
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
